
*{
	margin:0;
}


@keyframes beat{
	to { transform: translate(0px, 5px); }
}


body{
	overflow-x: hidden;
}

.continuedbg{
	// background:url("http://static.tumblr.com/kn2uvjq/Htvmtp3pq/blog_bg.png");
	// background-size:cover;
	// background: -moz-linear-gradient(top, rgba(255,119,78,0.93) 16%, rgba(242,42,59,0.93) 43%, rgba(239,83,96,0.83) 75%, rgba(239,165,171,0.77) 95%, rgba(255,255,255,0.75) 100%); /* FF3.6-15 */
	// background: -webkit-linear-gradient(top, rgba(255,119,78,0.93) 16%,rgba(242,42,59,0.93) 43%,rgba(239,83,96,0.83) 75%,rgba(239,165,171,0.77) 95%,rgba(255,255,255,0.75) 100%); Chrome10-25,Safari5.1-6
	// background: linear-gradient(to bottom, rgba(255,119,78,0.93) 16%,rgba(242,42,59,0.93) 43%,rgba(239,83,96,0.83) 75%,rgba(239,165,171,0.77) 95%,rgba(255,255,255,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edff774e', endColorstr='#bfffffff',GradientType=0 ); /* IE6-9 */
}

.page1{
	height: 100vh;
	background:url("../images/2grad.png");
	background-size:cover;
	background-position:center;
	background-attachment: fixed;
	img{
		margin-top: 4%;
	}

	h1{
		font-size: 14em;
		text-align: center;
		padding-top: 4.5%;
		font-family: helvetica, arial;
		color: white;
		opacity: 1;
		letter-spacing: -.12em;
		line-height: 1em;
	}

	h2{
		margin-top: 0px;
		text-align: center;
		color: white;
		font-family: 'Helvetica Neue';
		font-size: 1.4em;
		opacity: .8;
		text-transform: uppercase;
		font-weight: lighter;
		letter-spacing: .3px;
		text-shadow:.2px .2px black;
	}

	#dark{
		font-weight: bold;

	}

	.down{
		text-align: center;
		margin-top: -30px;
		opacity: .7;
		animation: beat .45s infinite alternate;
	}

	#watch{
		text-align: right;
		width: 100%;
		display: block;
		margin-top: 5%;
		letter-spacing: 3px;
	}
}


.page2{
	position: relative;
	height:75vh;
	padding-top:10vh;
	background:url("../images/text.png");
	background-attachment:fixed;


	.lilman{
		position:absolute;
		bottom:-5px;
		right:0;
		left:0;
		padding-right: 150px;
		margin: 0 auto;
		width: 200px;
		
		img{
			width: 200px;
		}
	}


	.videoContainer{
		position:absolute;
	    height:80%;
	    opacity: .8;
	    width:50%;
	    margin-left: 40%;
	    overflow: hidden;
	    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
	    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
	}

	.videoContainer video{
		margin-top: -5px;
	    min-width: 100%;
	    min-height: 102%;
	}
}


.plot{
	z-index:100;
	position:absolute;
	left:6%;
	top:15%;

	max-width: 60%;
	color: white;
	font-family:Helvetica;


	p{
		text-align: left;
		line-height: 1.4em;
		width: 50%;
		margin-left: 4%;
		font-size:1.1em;
		color:#b9b9b9;

		opacity: .9;
		letter-spacing: .08em;
	}

	h2{
		background: linear-gradient(to bottom, rgba(255,119,78,0.93) 16%,rgba(242,42,59,0.93) 43%,rgba(239,83,96,0.83) 75%,rgba(239,165,171,0.77) 95%,rgba(255,255,255,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: Helvetica;
		// font-variant: small-caps;
		letter-spacing: -.129em;
		line-height: 2em;
		font-size: 5em;
		text-align: center;
		margin-bottom: -50px;
		text-align: left;
	}
}

.page3{
	height:100vh;
	background:white;
	background:url("http://static.tumblr.com/kn2uvjq/Htvmtp3pq/blog_bg.png");
	background-size:cover;
	background-position:bottom;
	background-attachment: fixed;


	.main{
		padding-top: 10vh;
		height:70vh;
		width: 100%;
		font-family:Helvetica;


		h1{
			text-align: center;
			font-size: 5em;
			letter-spacing: -.08em;
			color: white;
		}

		p{
			width: 50%;
			text-align:center;
			margin-left:25%;
			font-size:1.2em;
			margin-top: 20px;
			color: white;
			font-weight: lighter;
			margin-bottom: 20px;
		}

		img{
			margin:0 auto;
			display: block;
		}

		button{
			margin:0 auto;
			width: 10%;
			height: 7%;
			background-color: transparent;
			border: solid 2px white;
			border-radius: 10px;
			font-size: 1.3em;
			color: white;
			margin-left: 45%;
			margin-top: 20px;
			transition: .5s ease-in-out;
		}

		button:hover{
			background:white;
			color: tomato;
		}
	}

	.features{
		height:20%;
		margin-left: 4%;
		width: 92%;
		position:relative;
		display: flex;
		bottom: 0px;

		.her{
			position: absolute;
			bottom: 10%;  /* position the top  edge of the element at the middle of the parent */
			left: 50%; /* position the left edge of the element at the middle of the parent */

			  transform: translate(-50%, -10%);

			  img{
			  	width: 500px;
			  }
		}

		.icons{
			height:50px;
			width: 50px;
			background:url("http://images.apple.com/v/ios/siri/d/images/overview/icon_filternav_glance_large.png");
			background-size:cover;
			margin-left: 40px;
			margin-right: 40px;

			p{
				margin-top: 50px;
				width: 300px;
				margin-left: -12px;
				font-family: Helvetica;


			}
		}

		.leftside, .rightside{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 37%;
		height:100%;
		}

		.middle{
			width: 26%;
		}
	}
}

.fotorama__nav, .fotorama__nav--thumbs, .fotorama__shadows--right{
	background: rgba(0,0,0,.2);
}

.page4{
	height:90vh;
	position:relative;
	padding-top:1%;
	padding-bottom:5%;
	padding-left:10%;
	// background:#FDFDFD;
	background:url("../images/text.png");
	background-attachment:fixed;

	h2{
		display: block;
		left:20px;
		z-index: 100;
		background: url(../images/2grad.png) no-repeat;
		background-size:cover;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: black;
		font-family: Helvetica;
		letter-spacing:-.02em;
		line-height: 2em;
		font-size: 5em;
	}
}

.page5{
	height:96vh;
	width:100vw;
	background:url("https://media.giphy.com/media/8Vv4BGkH1i9vW/giphy.gif");
	background-size:cover;
	background-attachment:fixed;
	padding-top:4vh;
	// display:flex;	
	position:relative;

	#herfaded{
		position:absolute;
		bottom:0px;
		left:-40px;
		opacity: .1;
		width: 55%;
	}

	.social{
		position:absolute;
		bottom:100px;
		width: 40%;
		right: 50px;
	} 

	a{
		color: white;
		text-decoration: none;
	}

	a:hover{
		cursor:pointer;
	}

	h2{
		text-align: center;
		color: white;
		font-family: Helvetica;
		font-weight: 500;
		letter-spacing: -.0em;
		font-size: 3em;
		margin-top: 600px;
		margin-bottom: 30px;
		opacity: .7;
		transition: .6s ease-in-out;
	}

	h2:hover{
		letter-spacing: .04em;
		opacity: 1;
	}

	p{
		text-align: center;
		font-size: 5em;
		color: white;
	}

	i{
		margin-right: 30px;
		margin-left: 30px;
		opacity: .7;
		transition: .3s ease-in-out;
		background-size:cover;
		background:transparent;
	}

	i:hover{
		    transform: scale(1.1, 1.1);
		    opacity: 1;
	}

	.awards{
		position:absolute;
		top:100px;
		width: 1500px;
		margin: 0 auto;
		left: 0;
		right: 0;

		img{
			margin-left:100px;
			margin-top: 15px;
		}
	}

	#strip{
		background:url("../images/line.png");
		background-size:cover;
		position:absolute;
		top:0;
		width: 100%;
		height: 20px;
	}

	#strip2{
		background:url("../images/line.png");
		background-size:cover;
		position:absolute;
		bottom:0;
		width: 100%;
		height: 20px;
	}
}

.overlay{
	background:black;
	height:100%;
	width:100%;
	z-index:100;
	position:absolute;
}


